@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 500;
  src: url('Peyda-Regular.ttf') format("truetype");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 700;
  src: url('Peyda-Bold.ttf') format("truetype");
}
