<!-- معرفی شرکت -->
<section class="introduction container mt-4">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <img style="height: auto; width: 20%;" src="assets/img/16.jpg" class="img-fluid mb-3 mt-md-0"/>
    <div>
      <h2>معرفی شرکت خدمات هوشمند همراه لوتوس</h2>
      <p>
        شرکت همراه لوتوس با سرمایه‌گذاری مشترک همراه اول و بانک پارسیان در سال 1399 تأسیس شده است که راه حل
        نوآورانه‌ای برای ارائه خدمات بانکی به صورت مدرن به واسطه مشارکت بزرگترین بانک خصوصی و اولین اپراتور تلکامی
        کشور ایجاد نموده است.
      </p>
    </div>
  </div>
</section>

<!-- چشم انداز -->
<section class="innovation container">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div>
      <h2>نوآوری های همراه لوتوس</h2>
      <p class="mb-2">
        این شرکت نوآوری ویژه‌ای را در محصول کیف پول ارائه نموده و با صدور کارت بانکی متصل به کیف پول به منظور تسهیل
        دریافت خدمات بانکی و پرداخت و ارائه خدمات اعتباری هوشمند در ایران بر این بستر، محدودیت‌های مرسوم کیف پول را از
        میان برداشته است و کیف پول Vee را ارائه نموده که در حال حاضر موجودی این کیف پول مشترک همراه‌اول و بانک پارسیان
        در اپلیکیشن‌های اوانو، پارسیان من، دیجی کالا، همراه من و آپ قابل مشاهده است.
      </p>
      <p>
        دیگر نوآوری این شرکت که در حال حاضر در کشور مشابهی ندارد، اعطای اعتبار به دارندگان سیمکارت‌های دائمی همراه
        اول بر اساس داده‌های رفتاری مشترک و سوابق پرداخت و سایر شاخص‌های تاثیرگذار بر امتیاز اعتباری آنها می‌باشد. از
        این اعتبار می توان برای خرید کالا و خدمات در شبکه پرداخت بانکی سراسر کشور و شبکه‌های حلقه‌ بسته نظیر
        اپلیکیشن‌های اوانو، پارسیان من، دیجی کالا، همراه من و آپ استفاده کرد.
      </p>
    </div>
    <img style="height: auto; width: 20%;" src="assets/img/15.jpg" class="img-fluid mt-3 mt-md-0"/>
  </div>
</section>

<section class="goal container">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <img style="height: auto; width: 20%;" src="assets/img/14.jpg" class="img-fluid mb-3 mt-md-0"/>
    <div>
      <h2>چشم‌انداز همراه لوتوس</h2>
      <p>
        همپا درصدد ایجاد نئوبانکی فراگیر در ایران بوده تا خدمات مالی و بانکی، مانند تسهیلات و اعتبار خرد را به صورت
        آسان و سریع در اختیار مشتریان خود قرار دهد.
      </p>
    </div>
  </div>
</section>

<!-- محصولات -->
<section class="products ">
  <div class="container">
    <h2 class="text-center mb-3">محصولات همراه لوتوس</h2>
    <div class="product-cards">
      <div class="product-card">
        <h3>کیف پول چند سگمنت نقدی و اعتباری</h3>
        <p>
          کیف پول دیجیتال Vee راهکاری هوشمند برای صرفه جویی در زمان و سهولت در پرداخت کاربران است که قابلیت ادغام در
          اپلیکیشن کسب وکارهای مختلف را دارد. اتصال این کیف پول به کارت بانکی، وجه تمایز آن با سایر کیف پول‌های موجود
          در کشور است. مشتریان می‌توانند از بخش نقدی این کارت که مشابه تمام کارت‌های شبکه بانکی است، برای واریز،
          برداشت و خرید استفاده نمایند. ویژگی منحصر به فرد این کارت، استفاده همزمان دارنده کارت از بخش نقدی و اعتباری
          در شبکه حلقه بسته و حلقه باز به صورت همزمان است.
        </p>
        <img style="width: 40%;height: auto" src="assets/img/3.png" alt="کیف پول Vee">
      </div>
      <div class="product-card">
        <h3>اعتبار بر پایه سیم‌کارت</h3>
        <p>
          محصول اعتبار بر پایه سیم‌کارت براساس رفتار مشتری در خدمات اپراتوری و تخصیص اعتبار بر مبنای امتیاز مشترک، از
          یکسو مشتری را از پیچیدگی‌های دریافت وام به صورت سنتی مانند معرفی ضامن و ترهین وثیقه معاف نموده و از سوی دیگر
          سرعت دریافت این اعتبار را به نسبت به سایر روش‌های غیر دیجیتال اعتباردهی افزایش می‌دهد. حداقل زمان تخصیص اعتبار در
          این روش از ثبت نام تا دریافت اعتبار حداقل 4 دقیقه است.
          تفاوت محصول اعتبار با تسهیلات، عدم دریافت سود و کارمزد تا زمان مصرف و همچنین امکان مصرف چندباره پس از
          بازپرداخت اعتبار مصرف شده است.
        </p>
        <img style="width: 40%;height: auto" src="assets/img/4.png" alt="اعتبار سیم‌کارت">
      </div>
      <div class="product-card">
        <h3>کارت و اعتبار سازمانی Vee</h3>
        <p>
          سازمان‌ها می‌توانند از محصول کارت و اعتبار سازمانی Vee برای واریز حقوق، پرداخت‌های غیر جاری و نیز
          ارائه اعتبار به کارمندان خود در بستر کیف پول و کارتVee استفاده نمایند
        </p>
        <img style="width: 50%;height: auto" src="assets/img/11.jpg" alt="کارت سازمانی Vee">
      </div>
      <div class="product-card">
        <h3>اپلیکیشن Vee</h3>
        <p>
          به منظور مدیریت چرخه اعتبار، کارت و کیف پول، اپلیکیشن Vee در اختیار مشتریان قرار گرفته است. خدماتی اعم از
          فعال و غیرفعال نمودن کارت، عملیات تخصیص و تغییر رمز کارت، افزایش موجودی، بازپرداخت اقساط و... در این
          اپلیکیشن در اختیار مشتری قرار گرفته است.
        </p>
        <img style="width: 40%;height: auto" src="assets/img/2.png" alt="اپلیکیشن Vee">
      </div>
    </div>
  </div>
</section>

<!-- مشتریان -->
<section class="clients container">
  <div class="container">
    <h2>مشتریان شرکت</h2>
    <p class="mb-2">
      تمامی دارندگان سیم کارت‌های دائمی همراه اول واجد شرایط می‌توانند اعتبار همراهی را از این شرکت دریافت کنند.
      برای اخذ "اعتبار همراهی" و دریافت کارت Vee، مشتریانی که توسط همراه‌اول اعتبارسنجی اولیه شده‌اند پس از دریافت
      پیامک می‌توانند از طریق اپلیکیشن اوانو درخواست خود را ثبت نموده و پس از اعتبارسنجی توسط همراه لوتوس به آن‌ها
      اعتبار همراهی تخصیص یابد.
      مشترکینی که پیامک اعتبار همراهی را دریافت نکرده‌اند می‌توانند درخواست اعتبار همراهی و صدور کیف پول متصل به
      کارتVee خود را از طریق اپلیکیشن اوانو ثبت نمایند. </p>
    <div class="d-flex flex-row-reverse justify-content-evenly">
      <img src="assets/img/5.png" style="width: 5% ; height: auto">
      <img src="assets/img/6.png" style="width: 5% ; height: auto">
      <img src="assets/img/7.png" style="width: 5% ; height: auto">
    </div>
  </div>

</section>

<section class="contact-us container">
  <div class="container">
    <h2>ارتباط با ما</h2>

    <p><img class="ms-2" src="assets/img/10.png" style="width: 2%;height: auto"><strong>آدرس : </strong>تهران، خیابان
      بهشتی، نرسیده به سهروردی، پلاک 90، طبقه ششم</p>
    <p><img class="ms-2" src="assets/img/8.png" style="width: 2%;height: auto"><strong>تلفن : </strong> 021-91073654</p>
<!--    <p><img class="ms-2" src="assets/img/9.png" style="width: 2%;height: auto"><strong>ایمیل : </strong> Contact&#64;HamrahLotus.ir-->
<!--    </p>-->

  </div>

</section>
<!-- فوتر -->
<footer class="footer">
  <div class="container d-flex justify-content-center align-items-center">
    <p>&copy; 2024 شرکت خدمات هوشمند همراه لوتوس | کلیه حقوق محفوظ است.</p>
  </div>
</footer>

